.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.no-scroll {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blue-color);
  text-decoration: none;
}

.logo__header-accent {
  color: var(--logo-color);
}

.logo__footer-accent {
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--card-gap-left);
  row-gap: var(--card-gap-top);
}
@media screen and (min-width: 768px) {
  .card-set {
    --card-item: 2;
  }
}

.card-item {
  /* margin-top: var(--card-gap-top);
  margin-left: var(--card-gap-left); */
  /* flex-basis: calc(100% / var(--card-item) - var(--card-gap-left)); */
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap-left)) / var(--card-item));
}

.conteiner {
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.button__btn:hover, .button__btn:focus {
  background-color: var(--dark-blue-color);
}

.soc__list {
  display: flex;
  justify-content: center;
}

.soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc__item:last-child {
  margin-right: 0;
}

.soc__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--cubic-bezier), background-color var(--cubic-bezier);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.soc__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__page {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}
.header__list {
  display: flex;
  align-items: center;
  color: var(--black-color);
}

.header__contacs-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__list .header__link.current {
  color: var(--blue-color);
}

.header__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--blue-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__contacs-item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  position: relative;
  transition: color var(--cubic-bezier);
}
.header__link:hover, .header__link:focus {
  color: var(--blue-color);
  transition: var(--cubic-bezier);
}

.contacs__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 767px;
  height: 400px;
  margin: auto;
  padding: 118px 0;
  text-align: center;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-mob2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/header-tab2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    max-width: 700px;
  }
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  transition: background-color var(--cubic-bezier), box-shadow var(--cubic-bezier), border-radius var(--cubic-bezier);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--dark-blue-color);
}

.peculiarities__title {
  margin-bottom: 10px;
  color: var(--black-color);
}
@media screen and (min-width: 768px) {
  .peculiarities__title {
    text-align: start;
  }
}
.peculiarities__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.peculiarities__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .peculiarities__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: calc((100% - 90px) / 4);
  }
}

.peculiarities__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: var(--grey-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-rect::before {
  background-image: url(../image/antenna.svg);
}

.icon-clock::before {
  background-image: url(../image/clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
}

.icon-ilon::before {
  background-image: url(../image/astronaut.svg);
}

.about {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
}

.about__tem {
  list-style-type: none;
}

.about__list .about__item + .about__item {
  margin-left: 30px;
  margin-right: 0;
}

.about__item {
  position: relative;
}

.about__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--white-color);
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
}

.team {
  background: var(--grey-color);
}
.team__container {
  padding: 30px;
}
.team__top-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__top-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.team__title {
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 10px;
}
.team__text {
  margin-bottom: 16px;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30;
}
.team__item {
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__text,
.team__title {
  font-size: 16px;
  line-height: 1.19;
}

.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__item {
  color: var(--soc__grey-color);
}
@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients__soc__icon {
  fill: currentColor;
}

.clients__link {
  color: inherit;
  display: flex;
  fill: var(--soc__grey-color);
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: fill var(--cubic-bezier), border var(--cubic-bezier);
}
.clients__link:focus, .clients__link:hover {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-color);
}
.footer__logo {
  margin-bottom: 20px;
  display: block;
  width: 231px;
}
.footer__title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-color);
  text-transform: uppercase;
}
.footer__send {
  display: flex;
}
.footer__input {
  width: 358px;
  position: relative;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

address {
  font-style: inherit;
  width: 231px;
}

.footer__link[target=_blank] {
  color: var(--white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(225, 225, 225, 0.6);
  transition: color var(--cubic-bezier);
}
.footer__link:hover, .footer__link:focus {
  color: var(--blue-color);
}

.footer__contant:not(:last-child) {
  margin-right: 70px;
}

.footer__contant:last-child {
  margin-left: auto;
}

.footer .footer__container {
  display: block;
}

.footer .soc__link {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--cubic-bezier);
}
.footer .soc__link:hover, .footer .soc__link:focus {
  background-color: var(--blue-color);
}

.footer__send-icon {
  margin-left: 10px;
}

.filter {
  padding-top: 94px;
}

.filter__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  transition: background-color var(--cubic-bezier), box-shadow var(--cubic-bezier), color var(--cubic-bezier);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
}

.portfolio__link {
  display: block;
  transition: box-shadow var(--cubic-bezier);
}
.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.portfolio__bac {
  position: relative;
  overflow: hidden;
}

.portfolio__bac-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform var(--cubic-bezier), background-color var(--cubic-bezier), color var(--cubic-bezier);
}

.portfolio__link:hover .portfolio__bac-text,
.portfolio__link:focus .portfolio__bac-text {
  transform: translateY(0);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__footer {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--cubic-bezier);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--black-color);
}
.modal__field {
  margin-bottom: 10px;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--cubic-bezier);
}
.modal__text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--dark-color);
  transform-origin: border var(--cubic-bezier);
}

.modal__btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: fill var(--cubic-bezier);
}
.modal__btn__btn:hover, .modal__btn__btn:focus {
  fill: var(--blue-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.wrap {
  position: relative;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--blue-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--cubic-bezier);
}
.modal__input__input:hover, .modal__input__input:focus {
  border: 1px solid var(--blue-color);
}

.modal__area-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
}
.modal__area-text:hover, .modal__area-text:focus {
  border: 1px solid var(--blue-color);
}

.checkbox__field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox__text {
  display: flex;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.checkbox__span {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: backgraund-color var(--cubic-bezier), border var(--cubic-bezier);
}

.check__icon {
  width: 100%;
  height: 100%;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--cubic-bezier);
}

.checkbox__input:focus + .checkbox__text span,
.checkbox__input:hover + .checkbox__text span {
  border-color: var(--blue-color);
}

.checkbox__input:checked + .checkbox__text span {
  background-color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.checkbox__input:checked + .checkbox__text .check__icon {
  fill: var(--white-color);
}

.checkbox__link {
  display: inline;
  margin-left: 1px;
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --black-color: #212121;
  --dark-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --grey-color: #F5F4FA;
  --logo-color: #000000;
  --footer-color: #2F303A;
  --card-gap-top: 30px;
  --card-gap-left: 30px;
  --card-item: 3;
  --soc__grey-color: #AFB1B8;
  --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --dark-blue-color: #188CE8;
}/*# sourceMappingURL=main.css.map */