.about {
    padding-top: 0;
    @media screen and (max-width: 1199px) {
        display: none;}
}
.about__list{
    
    display: flex;
}
.about__tem {
    list-style-type: none;
}

.about__list .about__item + .about__item {
    margin-left: 30px;
    margin-right: 0;
}
.about__item {
    position: relative;
}

.about__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: var(--white-color);
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
}