.header {
    border-bottom: 1px solid #ECECEC;

&__page{
    display: flex;
    align-items: center;
}
&__logo {
    margin-right: 93px;
}
&__list {
    display: flex;
    align-items: center;

    color: var(--black-color)
}
}
.header__contacs-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__list .header__link.current {
    color: var(--blue-color);
}

.header__link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--blue-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
}







.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__contacs-item:not(:last-child) {
    margin-right: 50px;
}



.header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: color var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--blue-color);
        transition: var(--cubic-bezier);
    }
  }







.contacs__icon {
    margin-right: 10px;
    fill: currentColor;
}