.portfolio__list {
    display: flex;
}

.portfolio__link {
    display: block;
    transition: box-shadow var(--cubic-bezier);
    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--black-color);
}
.portfolio__bac {
    position: relative;
    overflow: hidden;
}

.portfolio__bac-text {
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--white-color);
    transform: translateY(100%);
    transition: transform var(--cubic-bezier), background-color var(--cubic-bezier),
        color var(--cubic-bezier);
}

.portfolio__link:hover .portfolio__bac-text,
.portfolio__link:focus .portfolio__bac-text {
    transform: translateY(0);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
}

.portfolio__footer {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

