.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--white-color);
    &__btn:hover,
    &__btn:focus {
        background-color: var(--dark-blue-color);
    }
}