.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    transition: opacity var(--cubic-bezier),
        visibility var(--cubic-bezier);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal {
    width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--cubic-bezier);
&__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--black-color);
}

&__field {
    margin-bottom: 10px;
}
&__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--cubic-bezier);

}
&__text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
&__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--dark-color);
    transform-origin: border var(--cubic-bezier);
}
}
.modal__btn {
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: fill var(--cubic-bezier);
    &__btn:hover,
    &__btn:focus {
        fill: var(--blue-color);
    }
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.wrap {
    position: relative;
}
.modal__input:hover+.modal__icon,
.modal__input:focus+.modal__icon {
    fill: var(--blue-color);
}

.modal__input {

    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border var(--cubic-bezier);
    &__input:hover,
    &__input:focus {
    border: 1px solid var(--blue-color);
}
}
.modal__area-text {

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
    &:hover,
    &:focus {
        border: 1px solid var(--blue-color);
    }
}

.checkbox__field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.checkbox__input {
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox__text {
    display: flex;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.03em;
}

.checkbox__span {
    width: 16px;
    height: 15px;
    position: relative;
    border: 2px solid #212121;
    border-radius: 3px;
    background-color: transparent;
    margin-right: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: backgraund-color var(--cubic-bezier), border var(--cubic-bezier);
}

.check__icon {
    width: 100%;
    height: 100%;
    fill: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill var(--cubic-bezier);
}

.checkbox__input:focus+.checkbox__text span,
.checkbox__input:hover+.checkbox__text span {
    border-color: var(--blue-color);
}

.checkbox__input:checked+.checkbox__text span {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

.checkbox__input:checked+.checkbox__text .check__icon {
    fill: var(--white-color);
}

.checkbox__link {
    display: inline;
    margin-left: 1px;
    color: var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
}